html {
    font-size: 22px;
}

body {
    background-color: #c9a8c7;
    color: rgb(33, 120, 190);

}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10%;

}

.form-item {
    background-color: dodgerblue;
    color: #fff;
}
